@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Digital Artefact Manager (DAM) is an online Article Repository which allow users to read, like, comment, and put suggestions on the posted articles. This is one of our Knowledge Management (KM) tool to facilitate the process of creating, sharing, using and managing the knowledge and information of our organisation. As an enabler of organisational learning, DAM aims to focus on improved performance, competitive advantage, innovation, the sharing of lessons learned, integration and continuous improvement of the organisation. </p>
