@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Main.css" rel="stylesheet" />
<div class="jumbotron">
    <h2 class="bluefont" style="text-align:center;">Digital Artefact Manager</h2>
    <p class="lead">
    <p>
        Digital Artefact Manager (DAM) is an online Article Repository which
        allow users to read, like, comment, and put suggestions on the
        posted articles. This is one of our Knowledge Management (KM) tool to
    facilitate the process of creating, sharing, using and managing
    the knowledge and information of our organisation.
    As an enabler of organisational learning, DAM aims to focus on improved performance, competitive advantage,
        innovation, the sharing of lessons learned, integration and continuous
        improvement of the organisation. </p>

</div>

<div class="row">
    <div class="col-md-4">
        <h5  class="bluefont">Click the Icon below to Login</h5>
        <p>

           <img src="~/Content/Images/Login.jpg" width="200" height="200" alt="Login" onclick="location.href='@Url.Action("Login", "Login")'"  />
        </p>
    </div>
    <div class="col-md-4">
        <p></p>
    </div>
    <div  class="col-md-4">
        <h5 class="bluefont">Your Suggestions !!</h5>
        <p class="alignjustify">Digital Artefact Manager Welcomes Your Suggestions.

        Do you have any suggestions for us on how we can improve our service or our website? 
        Did you find what you needed? 
        Was it accurate and complete? 
        Do you need forum or any addition to our service?

        Let us know what you think! 
        Your comments are sincerely appreciated!</p></div>
</div>